*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
}

body {
    font-family: 'Helvetica';
    background-color: #252838;
    font-size: 1.2rem;
    padding: 5% 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.wrapper {
    margin: auto auto;
    text-align: center;
}

#calendar {
    display: inline-block;
}
#calendar header ul,
#calendar section ul {
    list-style: none;
    display: flex;
    width: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#calendar header ul li,
#calendar section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
#calendar section ul li:hover {
    cursor: pointer;
    background-color: #ffcc3359;
    border-radius: 14px;
}

#calendar header ul {
    background-color: #677077;
}
#calendar header ul li {
    font-weight: bold;
    color: #fff;
}
#calendar section {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#calendar section ul:last-child {
    border-bottom: none;
}

#calendar section ul li.today {
    background-color: #ffcc33;
    border-radius: 14px;
}
